.main-page-container {
  overflow: hidden;
  display: grid;
  grid-template-columns: min-content minmax(300px, 800px);
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .hasEvent {
    content: '';
    background-color: #9ab2ff;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 34px;
    height: 34px;
  }

  .add-button {
    width: 100%;
    margin-top: 15px;
  }

  .event-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: calc(50% - 79px);
    height: 100vh;
    overflow-y: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .empty-event-list {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    height: 356px;

    h1 {
      color: #444444;
    }
  }
}
