.event-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-top: 15vh;

  h1 {
    font-family: "Roboto";
  }

  .paper {
    width: 100%;
    max-width: 600px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
  }
}
