.event-card {
    font-family: 'Roboto';
    margin: 10px 0;
    padding: 10px 10px 10px 20px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .actions {
            visibility: hidden;
        }
    }

    &:first-child {
        margin: 0;
    }

    &:hover {
        .header {
            .actions{
                visibility: visible;
            }
        }
    }
}